.th {
    background-color: #92a8C1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .td {
    background-color: #92a8FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  